.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);

  display: flex;
  align-items: center;
  justify-content: space-between;

  section {
    span {
      font-size: 1.5rem;
      line-height: 2rem;
    }
    h1 {
      font-size: 4.5rem;
      line-height: 4rem;
      font-weight: 900;
      margin-top: 2.5rem;
      span {
        font-size: 4.5rem;
        color: var(--cyan-500);
      }
    }
    p {
      line-height: 2rem;
      font-size: 1.5rem;
      margin-top: 1.5rem;
      span {
        color: var(--cyan-500);
        font-weight: bold;
      }
    }
  }
}
.hero {
  max-width: 600px;
}

.buttonContainer {
  margin-top: 1.25rem;
}
