.button {
  margin-top: 1.25rem;
  height: 4rem;
  width: 15rem;
  background: var(--yellow-500);
  color: var(--gray-900);
  border: 0;
  border-radius: 4rem;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1.25rem;
}
